<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/menu.ejs") %>
    <p>    name: <%=f %>
    </p>
    <p>surname: <%=i %>
    </p>
<p>my contacts :):<%=p %>
</p>
<p>about me: <%=m %>
</p>
<p>skills: <%=s %>
</p>
<p>languages: <%=l %>
</p>
    
    
    <img src="https://phonoteka.org/uploads/posts/2021-07/1625758583_29-phonoteka-org-p-alkash-art-krasivo-30.jpg" width="500" alt="">
</body>
</html>